<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://kyh-demo-fa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a994b64b-6d0f-4f8a-b383-4ed1e94575d5/resourceGroups/kyh/providers/Microsoft.Web/sites/kyh-demo-fa</ResourceId>
    <UserName>$kyh-demo-fa</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://kyh-demo-fa.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>